body{
    background-color:#87cefa;
    color: black;
    font-family:  "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 50px;
    margin: 2px;;
    }

    button{
        background-color: #00008b;
        color:white;
        font-family:  "Bai Jamjuree", sans-serif;
    }

    .passo{
    display: none;
}

.passo.ativo{
    display:block;
}

main {
    text-align: center;
  max-width: 90%;
}

img {
    max-width: 80%;
}